# Questions Similarity in Quora

## Table of Contents
1. [Environment Setup](#env)
2. [Load Data](#load)

In [1]:
%load_ext autoreload
%autoreload 2

## Environment Setup <a id='env'></a>

Libraries

In [2]:
import os
import sys

import pandas as pd

List of directories

In [3]:
DIRECTORY_DATA = '../data/external/'

DIRECTORY_INTER = '../data/inter/'

Global variables

In [4]:
TRAIN_FILENAME = 'train.csv'
DATA_FILTERED_FILENAME = 'data_filtered.pkl'

## Load Data<a id='load'></a>

In [5]:
df_data = pd.read_csv(os.path.join(DIRECTORY_DATA,TRAIN_FILENAME))

In [6]:
df_data

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0
...,...,...,...,...,...,...
404285,404285,433578,379845,How many keywords are there in the Racket prog...,How many keywords are there in PERL Programmin...,0
404286,404286,18840,155606,Do you believe there is life after death?,Is it true that there is life after death?,1
404287,404287,537928,537929,What is one coin?,What's this coin?,0
404288,404288,537930,537931,What is the approx annual cost of living while...,I am having little hairfall problem but I want...,0
404289,404289,537932,537933,What is like to have sex with cousin?,What is it like to have sex with your cousin?,0

Missing values

In [7]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 404290 entries, 0 to 404289
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            404290 non-null  int64
 1   qid1          404290 non-null  int64
 2   qid2          404290 non-null  int64
 3   question1     404289 non-null  object
 4   question2     404288 non-null  object
 5   is_duplicate  404290 non-null  int64
dtypes: int64(4), object(2)
memory usage: 18.5+ MB

In [8]:
df_data.isnull().sum().sum()

3

In [9]:
df_data = df_data.dropna()

Save data

In [10]:
df_data.to_pickle(os.path.join(DIRECTORY_INTER,DATA_FILTERED_FILENAME))